@use './styles/reset.scss';
@use './styles/collapsable.component.scss';
@use './styles/utils.scss' as utils;


.unstyled {

    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;

    }

    .overlay {
        // create a marging minus 100px
        margin-top: calc(100px - 1rem);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);

        z-index: 1;
        @include utils.flex(column, center, center);

        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;


        &__content {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 20rem;
            min-height: 32rem;
            border-radius: .2rem;
            background-color: rgb(255, 255, 255);
            padding: 1rem;
            @include utils.flex(column, center, center);

            button {
                font-weight: bold;
                font-size: 1.2rem;
            }

            &__collapsable {
                @include utils.flex(column, center, center);
                padding: .5rem;
                width: 100%;
                transition: max-height 0.3s ease-in-out;

                &__links {
                    @include utils.flex(column, center, center);
                    padding: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    width: 100%;
                    transition: max-height 0.3s ease-in-out;

                    a:nth-child(n) {
                        // height: 3rem;
                        @include utils.flex(row, center, center);
                        padding: 0.5rem 1rem;
                        border-radius: .2rem;
                        background-color: #f1f1f1;
                        color: utils.$primary-very-dark-blue;
                        font-size: 1.2rem;
                        font-weight: 400;
                        text-decoration: none;
                        transition: all 0.2s ease-in-out;
                        width: 100%;

                        &:hover {
                            background-color: #e1e1e1;
                        }
                    }
                }
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .header {
        grid-column: 1 / span 2;
        grid-row: 1;
        font-family: utils.$font-family-primary;
        background-color: utils.$primary-light-red;
        color: utils.$primary-white;
        min-height: 600px;
        border-radius: 0 0 0 5rem;
        background-image: url('./images/bg-pattern-intro-desktop.svg');
        background-size: 300%;
        background-position: center;
        padding: 0 1rem;

        &__nav {
            @include utils.flex(row, space-between, center);
            min-height: 6.25rem;

            a {
                color: utils.$primary-white;
                text-decoration: none;
                font-size: 1rem;
            }

            &__brand {
                font-size: 2rem;
                flex: 1;
            }

            li:nth-child(n),
            &__auth {
                margin-right: 1rem;
                font-weight: utils.$fw-600;
            }

            &__list {
                @include utils.flex(row, flex-start, center);
                flex: 2;

                .dropdown {

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: utils.$primary-white;
                        min-width: auto;
                        padding: .5rem 1rem;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        z-index: 1;
                        border-radius: 0.3rem;
                        min-width: 7rem;
                        transform: translateX(-.8rem);

                        a {
                            @include utils.flex(column, flex-start, flex-start);
                            color: utils.$primary-very-dark-blue;
                            text-align: left;
                            margin: .25rem 0;

                            &:hover {
                                color: utils.$primary-grayish-blue;
                            }
                        }
                    }

                    &:hover .dropdown-content {
                        display: block;
                    }
                }



                &__item {
                    list-style: none;
                }
            }

            &__auth {
                @include utils.flex(row, space-evenly, center);
                flex: 1;
            }

            &__mobile-icon {
                display: none;
                background-image: url('./images/icon-hamburger.svg');
                width: 2rem;
                height: 2rem;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
        }






        @media screen and (max-width: 768px) {
            .header {
                &__nav {

                    &__list,
                    &__auth {
                        display: none;
                    }

                    &__mobile-icon {
                        display: flex;
                        display: block;
                        // creat a transition effect
                        transition: all 0.3s ease-in-out;

                        &.open {
                            background-image: url('./images/icon-close.svg');
                        }
                    }
                }


            }

        }

    }



}