@use './styles/reset.scss';
@use './styles/utils.scss' as utils;




.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;

    }

    .header {
        grid-column: 1 / span 2;
        grid-row: 1;
        font-family: utils.$font-family-primary;
        background-color: utils.$primary-light-red;
        color: utils.$primary-white;
        min-height: 600px;
        border-radius: 0 0 0 5rem;
        background-image: url('./images/bg-pattern-intro-desktop.svg');
        background-size: 300%;
        background-position: center;
        padding: 0 1rem;

        &__nav {
            @include utils.flex(row, space-between, center);
            min-height: 6.25rem;

            &__brand {
                font-size: 2rem;
                flex: 1;
            }

            li:nth-child(n),
            &__auth {
                margin-right: 1rem;
                font-weight: utils.$fw-600;
            }

            &__list {
                @include utils.flex(row, flex-start, center);
                flex: 2;



                &__item {
                    @include utils.flex(row, center, center);

                    &__link {
                        font-size: 1rem;
                        color: utils.$primary-white;
                        text-decoration: none;

                        &:hover {
                            color: utils.$primary-grayish-blue;
                        }
                    }
                }
            }

            &__auth {
                @include utils.flex(row, space-evenly, center);
                flex: 1;
            }
        }

        @media screen and (max-width: 768px) {
            .header {
                &__nav {

                    &__list,
                    &__auth {
                        display: none;
                    }
                }
            }

        }

    }



}